<div class="toolbar" role="banner">
  <span>{{title}}</span>
</div>

<div class="content" role="main">
  <h2>Priorität</h2>

  <mat-radio-group priority="ngModel" name="priority"
    (change)="onChange($event)">
    <mat-radio-button [value]="'none'" color="primary" checked>
      Keine
    </mat-radio-button>
    <mat-radio-button *ngFor="let property of properties" [value]="property"
      color="primary">
      {{property}}
    </mat-radio-button>
  </mat-radio-group>

  <div class="searchResultCardsList">
    <mat-card *ngFor="let searchResult of searchResults"
      class="searchResultCard">
      <mat-card-header>
        <div mat-card-avatar class="match">
          <span class="matchValue">
            {{searchResult.averageReadable}}
          </span>

          <span class="matchInfo">
            Match
          </span>
        </div>

        <mat-card-title>{{searchResult.title}}</mat-card-title>

        <mat-card-subtitle>
          {{searchResult.manufacturer}}
        </mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="{{searchResult.imageUrl}}"
        alt="{{searchResult.title}} - {{searchResult.manufacturer}}" />

      <mat-card-content>
        <h3>Übereinstimmungen</h3>

        <div *ngFor="let property of properties" class="propertyWrapper">
          <div class="property">
            <span
              [ngClass]="{'prioritized': priority === property}">{{property}}</span>

            <span
              [ngClass]="{'prioritized': priority === property}">{{searchResult.propertiesReadable[property]}}</span>
          </div>

          <mat-progress-bar color="Accent" mode="determinate"
            value="{{searchResult.properties[property]}}">
          </mat-progress-bar>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
